<%- include("header")-%>

  <div class="container" style="height:80vh; text-align: center; width:30%; display: table;">
    <div style="display: table-cell; vertical-align: middle;">
    <h2>Apply to be a student: </h2><br>
    <form class="" action="/applyStudent" method="post">
      <div class="">
        <label for="email">E-mail: </label>
        <input type="email" name="applicantEmail" value="" required>
      </div>
      <br>
      <div class="">
        <label for="name">Name: </label>
        <input type="text" name="applicantName" value="" required>
      </div>
      <br>
      <div class="">
        <label for="GPA">GPA : </label>
        <input type="text" name="applicantGPA" value="" required>
      </div>
      <br>
      <div class="">
        <label for="">Major: </label>
        <input type="text" name="major" value="" required>
      </div>
      <br>
      <button class="btn btn-primary" type="submit" name="button">Apply</button>
    </form>
  </div>
  </div>
  <%- include("footer")-%>