<%- include("header")-%>

  <div class="container" style="height:80vh; text-align: center; width:30%; display: table;">
    <div style="display: table-cell; vertical-align: middle;">
    <h2>Apply to be a Instructor: </h2><br>
    <form class="" action="/applyInstructor" method="post">
      <div class="">
        <label for="email">E-mail: </label>
        <input type="email" name="applicantEmail" value="" required>
      </div>
      <br>
      <div class="">
        <label for="name">Name: </label>
        <input type="text" name="applicantName" value="" required>
      </div>
      <br>
      <div class="">
        <label for="department">Department: </label>
        <input type="text" name="department" value="">
      </div>
      <br>
      <div class="">
        <label for="selfStatement">Self Statement: </label>
        <textarea name="selfStatement" cols="30" rows="4"></textarea>
      </div>
      <br>
      <button class="btn btn-primary" type="submit" name="button">Apply</button>
    </form>
  </div>
  </div>
  <%- include("footer")-%>


<!-- 
  <h1>You can apply to be instructor of CCNY in this page</h1>
  <div class="">
    <form class="" action="/applyInstructor" method="post">
      <div class="">
        <label for="email">E-mail: </label>
        <input type="email" name="applicantEmail" value="">
      </div>

      <div class="">
        <label for="name">Name: </label>
        <input type="text" name="applicantName" value="">
      </div>

      <div class="">
        <label for="department">Department: </label>
        <input type="text" name="department" value="">
      </div>

      <div class="">
        <label for="selfStatement">Self Statement: </label>
        <textarea name="selfStatement" cols="30" rows="4"></textarea>
      </div>

      <button type="submit" name="button">Submit</button>
    </form>
  </div> -->
