<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balance</title>
</head>
<body>
    <a href="/"> Go Back </a>
    <h3>Account Balance</h3>
    <%if(balance == 0){%>
        <p>You don't have balance due.</p>
    <%} else {%>
        Your current balance due: 
        <br>
        <p>Suspended Fine: $<%=balance%> </p>
    <%}%>

    <form action="/balance" method="post">
        <label for="cardNumber">Card Number: </label>
        <input type="text" name="cardNumber" required>
        <label for="hoderName">Name on Card:</label>
        <input type="text" name="holderName" required>
        <br>
        <label for="expirationDate">Expiration Date: </label>
        <input type="date" name="expirationDate" required>
        <label for="securityCode">Security Code:</label>
        <input type="text" name="securityCode" required>
        <br>
        <button type="submit"> Pay Now </button>
    </form>

</body>
</html>