<%-  include("header") -%>

    <div class="container" style="text-align: center; height: 80vh;">
        <br><br>
        <h3>Account Balance</h3>
        <%if(balance == 0){%>
            <p>You don't have balance due.</p>
        <%} else {%>
            Your current balance due:
            <br>
            <p>Suspended Fine: $<%=balance%> </p>
        <%}%>
        <p>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Pay Balance
            </button>
        </p>
          <div class="collapse" id="collapseExample">
            <div">
            <form action="/balance" method="post">
                <label for="cardNumber">Credit Card Number: </label>
                <input type="text" name="cardNumber"  required>
                <br><br>
                <label for="hoderName">Name on Card:</label>
                <input type="text" name="holderName" required>
                <br><br>
                <label for="expirationDate">Expiration Date: </label>
                <input type="date" name="expirationDate" required>
                <br><br>
                <label for="securityCode">Security Code:</label>
                <input type="text" name="securityCode" required>
                <br> <br>
                <button type="submit" class="btn btn-primary"> Pay Now </button>
            </form>
            </div>
          </div>

    </div>


    <%-  include("footer") -%>
