<%-include("header")-%>
    <div class="container" style="min-height: 80vh; text-align: center;">
        <br><br>
        <h1>Please Enter New Password:</h1><br><br>

        <form action="/changePassword" method ="post">
            <input type="password" name="newpassword" placeholder="new password"><br><br>
            <button type="submit" class="btn btn-primary"> OK </button>
        </form>
    </div>


<%-include("footer")-%>