<%- include("header")-%>

<div class="container" style="height:80vh; text-align: center; display: table;">
    <div style="display: table-cell; vertical-align: middle">
        <h1><%= result %></h1>
        <br>
        <h3><%= detail %></h3>
        <br><br>
        <a class="btn btn-primary" href="/classSignUp" role="button">Register More Classes</a>

    </div>
</div>
<%- include("footer")-%>
