<%- include("header") -%>
    <div class="container" style="text-align: center; min-height: 80vh;">
        <br><br>
        <form action="/fileComplaint" method="post">
            <p>Complaint about:
                <input type="radio" id= "student" name="complaintAboutRole" value="student" checked="checked">
                <label for="student">Student</label>
                <% if (userRole == "student"){ %>
                    <input type="radio" id= "instructor" name="complaintAboutRole" value="instructor" >
                    <label for="Instructor">Instructor</label>
                <%} %>
            </p> 
            <label for="complaintAboutName">His/Her Name: </label>
            <input type="text" name="complaintAboutName">
            <br><br>
            <label for="className"> Class Name: </label>
            <input type="text" name="className">
            <br><br>
            <label for="complaintDetail">Details: </label><br>
            <textarea id="complaintDetail" name="complaintDetail" rows="8" cols="40" 
            placeholder="Please provide detail of what you want to report. "
            ></textarea><br>
    
            <button type="submit" class="btn btn-primary"> Submit </button>
            
            
        </form>
    </div>


<%- include("footer") -%>
