<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCNYZero Login</title>
</head>
<body>
    <h1>Please Login Your CCNY Account</h1>

    <form action="/login" method ="post">
        <input type="email" name="username" placeholder="email adress">
        <input type="password" name="password" placeholder="password">
        <button type="submit" > log in</button>
    </form>
    <%if(wrongPassword){%>
        <p>Your password and username is not match. Please try again.</p>
    <%}%>
   <br>
    <a href="/">Go back to CCNY Home </a>
    
</body>
</html>