<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Please register CCNY Account</h1>

    <form action="/register" method ="post">
        <input type="text" name="fullname" placeholder="your name" required>
        <input type="email" name="username" placeholder="email address" required>
        <input type="password" name="password" placeholder="password" required>
        <button type="submit" > register</button>
    </form>
    <a href="/">Go to login page</a>
</body>
</html>