<%- include("header")-%>
<div class="container" style="padding: 50px 0 50px 0; min-height: 80vh; text-align: center;">
    <h2 style="text-align: center;">How To Use CCNY Zero System</h2><br><br>
    <p><b>1. At the top of any page, you can find everything you can do in the menu bar.</b></p>
    <div style="text-align: center;">
        <img src="images/menu_bar.png" alt="menu bar" class="tutorial-image">
    </div>
    <br><br>

    <p><b>2. At the buttom of home page, you can find the calendar of the semester.</b></p>
    <div style="text-align: center;">
        <img src="images/calendar.png" alt="calendar" class="tutorial-image">
    </div>
    <br><br>

    <p><b>3. Click Message in the manu bar, you can open message page. In this page you can view and send message to others.</b></p>
    <div style="text-align: center;">
        <img src="images/message_page.png" alt="message page" class="tutorial-image">
    </div>
    <br><br>

    <p><b>4. During class register period of the semester, you can click on Class Register in the menu bar and sign up for classes.</b></p>
    <p><b>Note that:</b></p> 
    <p> You cannot take more than 4 classes. <br> You cannot take any course that you already passed. <br>
       You cannot take class that has conflict schedule with other class.</p>
    <div style="text-align: center;">
        <img src="images/class_signup.png" alt="class signup" class="tutorial-image">
    </div>
    <br><br>

    <p><b>5. You can check your current enroll class and schedule by clicking on My Classes. <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You can also click Drop class and check review/rate a class from this page.</b></p>
        <p><b>Note that:</b></p> 
        <p> If you drop class during class running period, you will receive grade of 'W'.  <br>
            If you drop all of your classes during class running period, you will receive warning.<br> 
            You cannot use offensive words when you leave a review.
           </p>
    <div style="text-align: center;">
        <img src="images/my_classes.png" alt="my classes" class="tutorial-image">
    </div>
    <br><br>

    <p><b>6. You can see your academic record by clicking on My Academics in the menu bar. <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You can also apply for graduation from this page.</b></p>
        <p><b>Note that:</b></p> 
        <p>If you fail the same class twice, you will be terminated </p>
        <p>if your GPA is too low, you might be suspended or terminated.</p>
        <p> You need to complete 8 required courses in order to graduate.</p>
    <div style="text-align: center;">
        <img src="images/academic_record.png" alt="academic_record" class="tutorial-image">
        <img src="images/apply_graduation.png" alt="apply_graduation" class="tutorial-image">
    </div>
    <br><br>

    <p><b>7. You can check your account balance by clicking on Balance. You can also pay your balance here. </b></p>
    <div style="text-align: center;">
        <img src="images/balance.png" alt="balance" class="tutorial-image">
    </div>
    <br><br>

    <p><b>8. You can file complaint to program registrar by clicking on File Complaint </b></p>
    <div style="text-align: center;">
        <img src="images/file_complaint.png" alt="file complaint" class="tutorial-image">
    </div>
    <br><br>

    <p><b>9. You can click on your name on the top right cornor and click on Change Password to change your password</b></p>
    <div style="text-align: center;">
        <img src="images/change_password.png" alt="change password" class="tutorial-image">
    </div>
    <br><br>

    <form action="/showTutorial" method='post'>
        <button class="btn btn-primary"> Don't Show Tutorial Again</button>
    </form>
</div>
<%- include("footer")-%>